.univ{
    border:none;
    padding:0;
    margin:0;

    height: 100%;
    width: 100%;
    min-height: 100vh;
    min-width: 100vw;

    background-color: #F2F4F7;
    font-family: 'Ubuntu', sans-serif;;
    /* background-color: aqua; */
}
.middle_container{
    width:100%;
    /* height:400px; */
    /* background-color: rgba(30, 78, 120, 0.05); */
    background-color: #F9FAFB;
    padding:80px 100px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;

    font-size: 16px;
}
.company_block{
    font-size: 18px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.email_box{
    padding:10px 0 0 0;
    display: flex;
    flex-wrap: wrap;
}

/* .blogsContainer{
    width:100%;
    background-color: #FFFFFF;
    padding:80px 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
} */

.blogsContainer{
    width:100%;
    background-color: #FFFFFF;
    padding:80px 100px;

    display: grid;
    grid-template-columns: 300px auto;
    /* display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap; */

}

.leftContainer{
    width:100%;
    /* background-color: aquamarine; */
    padding: 30px 15px;
    /* border:2px solid rgba(211, 211, 211, 0.3); */
}
.searchContainer{
    padding:30px 30px;
    border:2px solid rgba(211, 211, 211, 0.3);
    border-radius: 20px;
}
.selectorType1{
    border:1px solid lightgray;
    padding: 4px 10px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    border-radius: 8px;
}
.input_searchbox1{
    width:200px;
}
/* .rightContainer{
    width:calc(100% - 250px);
    border:2px solid rgba(211, 211, 211, 0.3);
    border-left: none;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;

    padding:20px 0;
} */

.rightContainer{
    /* width:calc(100% - 250px); */
    /* border:2px solid rgba(211, 211, 211, 0.3); */
    border-left: none;

    /* display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly; */

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-column-gap: 20px;

    padding:20px 0;
    padding-left:60px;
    padding-right:60px;
}

/* .cards{
    min-width:250px;
    max-width:300px;
    padding:10px;
    background-color: #F9FAFB;
    margin: 30px 20px;
} */
.cards{
    /* min-width:250px;
    max-width:300px; */
    padding:0 0 10px 0;
    background-color: #f9fafbf2;
    margin: 60px 20px;
    margin-top: 0;
}

.cardImage{
    width:100%;
    height:auto;
    cursor: pointer;
}
.cardData{
    /* padding:5px 0 0 5px; */
    padding:5px 5px 0 10px;
}
.cardTitle{
    font-size: 18px;
    padding:0 0 5px 2px;
    font-weight: 500;
}
.cardContentText{
    font-size: 14px;
}
.interactionBar{
    padding:8px 10px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logoBtn1{
    margin:auto;
    cursor: pointer;
}
.logoDisp12{
    display: none;
}
.logoBtn1:hover .logoDisp12{
    display: block;
}
.logoBtn1:hover .logoDisp11{
    display: none;
}
.logoBtn2{
    margin:auto;
    cursor: pointer;
}
.logoDisp22{
    display: none;
}
.logoBtn2:hover .logoDisp22{
    display: block;
}
.logoBtn2:hover .logoDisp21{
    display: none;
}
.logoBtn:hover{
    border: 1px solid lightgray;
}

@media (max-width:1300px){
    .rightContainer{
        padding-left:20px;
        padding-right: 20px;
    }
}
@media (max-width:1100px){
    .rightContainer{
        padding-left:80px;
        padding-right: 80px;
        grid-template-columns: auto;
    }
}

@media (max-width:950px){
    .blogsContainer{
        grid-template-columns: 250px auto;
    }
    .input_searchbox1{
        width:150px;
    }
    .rightContainer{
        padding-left:40px;
        padding-right: 40px;
        grid-template-columns: auto;
    }
}

@media (max-width:880px){
    .rightContainer{
        padding-left:10px;
        padding-right: 10px;
        grid-template-columns: auto;
    }
}
@media (max-width:700px){
    .blogsContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .input_searchbox1{
        width:200px;
    }
    .leftContainer{
        border-bottom: none;
    }
    .rightContainer{
        /* border-left:2px solid rgba(211, 211, 211, 0.3); */
        grid-template-columns: auto;
    }
}
@media (max-width:500px){
    .blogsContainer{
        padding:80px 40px;
    }
}