.univ{
    padding:0;margin:0;
    min-height: 100vh;
    min-width: 100vw;
    padding-bottom: 80px;
}
.Head1{
    padding:40px;
    font-size: 34px;
    font-weight: 700;
}
.Head2{
    padding:40px;
    padding-top:0;
}
.addTitleText{
    font-size: 20px;
    padding:5px;
}